form {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    justify-content:center;
    align-items: center;
    padding: 0.625rem;
    margin: .5rem;
    text-align: center;
}

.campo-cnpj, .campo-senha{
    display: block;
    margin: 25px 0;
}

.form-control{
    padding: 20px;
    border: 1px solid #acacac;
    border-radius: 15px;
    width: 50vw;
}

.form-check {
    margin-bottom: 20px;
}

.form-check-label {
    font-size: 0.8em;
}

.btn {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #acacac;
    border-radius: 15px;
    width: 50%;
    background-color: var(--cor-tema);
    color: white;
    font-size: 1em;
}

.cadastro {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    justify-content:center;
    align-items: center;
    padding: 0.625rem;
    margin: .5rem;
    text-align: center;
}

.link a {
    color: var(--cor-tema);
}

/*Especificidades do cadastro */
.formulario {
    display: block;
    margin: .5rem;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.formulario input {
    display: block;
    margin: 5px auto 20px auto;
    padding: 10px;
    border: 1px solid #acacac;
    border-radius: 15px;
    width: 50vw;
}

.loc {
  text-align: left;
}

.loc input {
    display: inline;
}

#idEstados, #idNro {
    width: 10vw;
}

#idCep {
    width: 45vw;
}

.option {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: .5rem;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.option div {
    margin-right: 50px;
}